<div class="form-group" style="border-bottom: 1px solid #e5e5e5;">
  <h5><a href='/check_ins/<%=c.id%>'><%= c.report_type %></a></h5>
  <div class="form-group">
  	<span style="font-size: 12px; font-weight: normal; padding-left: 15px;"><%= c.report_time.strftime("%m/%d/%Y at %I:%M%p") %></span>
  </div>
</div>
