    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li id="check_in_nav"><a href="/">Check-In</a></li>
          <li id="reports_nav"><a href="/reports">Reports</a></li>
        </ul>
        <h3 class="text-muted" onclick="window.location='/'" style="cursor: pointer; color: #999;"><span style="color: #428bca;"><i class="fa fa-anchor"></i></span> Fishsquare</h3>
      </div>
    </div>